@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <h4>Este é o sistema Campos Dealer para gerenciamento de Clientes, Produto e Vendas utilizando .NET 8.0 com o padrão MVC e SQL Server!</h4>
    <hr />
    <h4>Use o menu superior para navegar entre as páginas!</h4>
    <h6>Fique longe do link do rodapé!</h6>
</div>
