@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
    }
</style>

<h1>404!</h1>

<div class="container">
    <iframe src="https://giphy.com/embed/zQhFEBrX6plKg" width="500" height="500" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p>Cuidado, jovem Jedi, perdido você está. A página que busca não existe, mas existir pode, caso Ian esta etapa passe e para a vaga seja chamado.</p>
</div>
