@model CamposDealer.Models.Venda

@{
    ViewData["Title"] = "Create";
}

<script>
    $(document).ready(function () {
        // Função para calcular o valor total da venda
        function calcularTotal() {
            console.log("calcularTotal")
            // Obter os valores de QtdVenda e VlrUnitarioVenda
            var qtdVenda = parseFloat($("#QtdVenda").val());
            var vlrUnitarioVenda = parseFloat($("#VlrUnitarioVenda").val());

            // Calcular o valor total da venda
            var vlrTotalVenda = qtdVenda * vlrUnitarioVenda;

            // Exibir o valor total da venda no campo correspondente
            $("#VlrTotalVenda").val(vlrTotalVenda.toFixed(2));
        }

        // Associar a função de cálculo ao evento onchange dos campos QtdVenda e VlrUnitarioVenda
        $("#QtdVenda, #VlrUnitarioVenda").on("change", function () {
            calcularTotal();
        });
    });
</script>


<h1>Create</h1>



<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label">Cliente</label>
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProduto" class="control-label">Produto</label>
                <select asp-for="IdProduto" class="form-control" asp-items="ViewBag.IdProduto"></select>
            </div>
            <div class="form-group">
                <label asp-for="QtdVenda" class="control-label"></label>
                <input asp-for="QtdVenda" class="form-control" />
                <span asp-validation-for="QtdVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VlrUnitarioVenda" class="control-label"></label>
                <input asp-for="VlrUnitarioVenda" class="form-control" />
                <span asp-validation-for="VlrUnitarioVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DthVenda" class="control-label"></label>
                <input asp-for="DthVenda" class="form-control" />
                <span asp-validation-for="DthVenda" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="VlrTotalVenda" class="control-label"></label>
            <input asp-for="VlrTotalVenda" disabled class="form-control" />
            <span asp-validation-for="VlrTotalVenda" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
